*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
  list-style: none;        /* removes bullet points */
  display: flex;           /* places items side by side */
  gap: 20px;               /* adds space between links */
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;   /* removes underline */
  font-weight: bold;
   color: #ffffff;
     padding: 8px 12px;
     transition: background-color 0.15s ease;
}

nav a:hover {
  color: blue;             /* hover effect */
}

nav a:hover {
    text-decoration: underline;
}
.heading{
    text-align: center;
    margin: 20px 0;
}
.container {
    display: flex;
    gap: 20px;
}

.box{
  width: 20%;
    /* background: #fff; */
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: #ccc 1px solid;
    padding: 10px;
    margin: 20px 5px;
    flex: 1;
    /* display: flex; */
    gap: 20px;
    cursor: pointer;
}
.box:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.box .image{
    /* flex: 1; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}
.box .image img{
    /* flex: 1; */
    width: 230px;
    height: 200px;
    object-fit: cover;
}
.content h4{
  text-align: center;
}
